<header class="card-item__header"><%- title %></header>
<div class="card-item__description"><%- description %></div>
<a href="#card" class="card-item__link">Show more</a>
<button class="card-item__stats js-like">Likes: <%- likes %></button>
<button class="card-item__delete js-delete">X</button>